streamlit==1.44.0
langchain==0.3.21
langchain-community==0.3.20
langchain-google-genai==2.1.2
google-ai-generativelanguage==0.6.17
pymysql==1.1.1
sqlalchemy==2.0.40
python-dotenv==1.1.0
protobuf==5.29.4
openai
